In [49]:
import pandas as pd
import matplotlib.pyplot as plt

In [62]:
df = pd.read_csv("data.csv")
print(df.head(10))

   ventas      fechas
0      10  01/06/2010
1      11  01/07/2010
2      12  01/08/2010
3      13  01/09/2010
4      12  01/10/2010
5      11  01/11/2010
6      12  01/12/2010
7      12  01/13/2010
8      13  01/14/2010
9      13  01/15/2010

In [52]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   ventas  100 non-null    int64
 1   fechas  100 non-null    object
dtypes: int64(1), object(1)
memory usage: 1.7+ KB

In [53]:
print(df.columns)

Index(['ventas', 'fechas'], dtype='object')

In [63]:
df.rename(columns={'fechas':'fecha'},inplace=True)
print(df.columns)

Index(['ventas', 'fecha'], dtype='object')

In [55]:
print (df["fecha"])

0     01/06/2010
1     01/07/2010
2     01/08/2010
3     01/09/2010
4     01/10/2010
         ...
95    04/11/2010
96    04/12/2010
97    04/13/2010
98    04/14/2010
99    05/14/2010
Name: fecha, Length: 100, dtype: object

In [59]:
df

    ventas       fecha
0       10  01/06/2010
1       11  01/07/2010
2       12  01/08/2010
3       13  01/09/2010
4       12  01/10/2010
..     ...         ...
95      22  04/11/2010
96      23  04/12/2010
97      23  13/04/2010
98      24  14/04/2010
99      25  14/05/2010

[100 rows x 2 columns]

In [64]:
df["fecha"] = pd.to_datetime(df.fecha)

In [65]:
df["data2"] = df["fecha"].dt.strftime("%d/%m/%Y")

In [66]:
df["fecha"] = pd.to_datetime(df["fecha"])

In [67]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   ventas  100 non-null    int64
 1   fecha   100 non-null    datetime64[ns]
 2   data2   100 non-null    object
dtypes: datetime64[ns](1), int64(1), object(1)
memory usage: 2.5+ KB

In [68]:
df["fecha"].min()

Timestamp('2010-01-06 00:00:00')

In [69]:
df["fecha"].max()

Timestamp('2010-05-14 00:00:00')

In [70]:
df["fecha"].mean()

Timestamp('2010-02-24 18:57:36')

In [71]:
print(df.head(10))

   ventas      fecha       data2
0      10 2010-01-06  06/01/2010
1      11 2010-01-07  07/01/2010
2      12 2010-01-08  08/01/2010
3      13 2010-01-09  09/01/2010
4      12 2010-01-10  10/01/2010
5      11 2010-01-11  11/01/2010
6      12 2010-01-12  12/01/2010
7      12 2010-01-13  13/01/2010
8      13 2010-01-14  14/01/2010
9      13 2010-01-15  15/01/2010

In [72]:
df["fecha"].std()

Timedelta('29 days 15:34:53.220040214')

In [73]:
df["fecha"].dt.dayofweek

0     2
1     3
2     4
3     5
4     6
     ..
95    6
96    0
97    1
98    2
99    4
Name: fecha, Length: 100, dtype: int32

In [74]:
df["fecha"].dt.month

0     1
1     1
2     1
3     1
4     1
     ..
95    4
96    4
97    4
98    4
99    5
Name: fecha, Length: 100, dtype: int32

In [75]:
df["fecha"].dt.year

0     2010
1     2010
2     2010
3     2010
4     2010
      ...
95    2010
96    2010
97    2010
98    2010
99    2010
Name: fecha, Length: 100, dtype: int32

In [76]:
df["fecha"].dt.hour

0     0
1     0
2     0
3     0
4     0
     ..
95    0
96    0
97    0
98    0
99    0
Name: fecha, Length: 100, dtype: int32

In [78]:
mensuales = df.groupby("data2").mean()

In [80]:
print(df.head(10))

   ventas      fecha       data2
0      10 2010-01-06  06/01/2010
1      11 2010-01-07  07/01/2010
2      12 2010-01-08  08/01/2010
3      13 2010-01-09  09/01/2010
4      12 2010-01-10  10/01/2010
5      11 2010-01-11  11/01/2010
6      12 2010-01-12  12/01/2010
7      12 2010-01-13  13/01/2010
8      13 2010-01-14  14/01/2010
9      13 2010-01-15  15/01/2010

In [81]:
df

    ventas      fecha       data2
0       10 2010-01-06  06/01/2010
1       11 2010-01-07  07/01/2010
2       12 2010-01-08  08/01/2010
3       13 2010-01-09  09/01/2010
4       12 2010-01-10  10/01/2010
..     ...        ...         ...
95      22 2010-04-11  11/04/2010
96      23 2010-04-12  12/04/2010
97      23 2010-04-13  13/04/2010
98      24 2010-04-14  14/04/2010
99      25 2010-05-14  14/05/2010

[100 rows x 3 columns]